.nainy-dashboard {
    font-size: 8.0pt;
    font-family: Verdana, Arial;
}

.nainy-dashboard a {
    color: #BB6600;
    text-decoration: none;
}

.nainy-dashboard a:hover {
    text-decoration: underline;
}

.nainy-dashboard .title {
    font-size: 1.2em;
    font-weight: bold;
    color: #FFF;
}