body {
    font-family: Verdana, Arial;
    font-size: 13px;
    padding: 0 20px;
    margin: 0;
}

h2 {
    margin-top: 2em;
}

section {
    float: left;
}

aside {
    width: 232px;
    float: right;
    margin: 0 0 20px 20px;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    display: inline-block;
    vertical-align: bottom;
}

a.nanylet {
    margin: 5px;
}
