/* button design */
a.nanylet {
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    color: #FFFFFF;
    border: 1px solid #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #555555;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#000000));
    background-image: -webkit-linear-gradient(top, #555555, #000000);
    background-image: -moz-linear-gradient(top, #555555, #000000);
    background-image: -ms-linear-gradient(top, #555555, #000000);
    background-image: -o-linear-gradient(top, #555555, #000000);
    background-image: linear-gradient(to bottom, #555555, #000000);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#555555, endColorstr=#000000);
    -webkit-box-shadow: #999 2px 2px 2px;
    -moz-box-shadow: #999 2px 2px 2px;
    box-shadow: #999 2px 2px 2px;
}

a.nanylet:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #333333;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
    background-image: -webkit-linear-gradient(top, #333333, #111111);
    background-image: -moz-linear-gradient(top, #333333, #111111);
    background-image: -ms-linear-gradient(top, #333333, #111111);
    background-image: -o-linear-gradient(top, #333333, #111111);
    background-image: linear-gradient(to bottom, #333333, #111111);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#333333, endColorstr=#111111);
}

.nany {
    font-size: 8.0pt;
    font-family: Verdana, Arial;
}

.nany a {
    color: #BB6600;
    text-decoration: none;
}

.nany a:hover {
    text-decoration: underline;
}

.nany .title {
    font-size: 1.2em;
    font-weight: bold;
    color: #FFF;
}

/* Contours Nainwak :
 * 0 : jaune/marron (page d'accueil)
 * 1 : bleu (braves)
 * 2 : rouge (sadiques)
 * 3 : vert (rampants)
 * 4 : orange (halloween)
 * 5 : rose (pacific?)
 * 6 : vert foncé (saint patrick?)
 * 7 : violet (mutants)
 * 8 : noir
 */
.nany div.VTV {
  border-width: 8px 14px;
  border-style: solid;
  padding: 0px 3px;
  margin: 2px 1px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/VTV.png") 8 14 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/VTV.png") 8 14 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/VTV.png") 8 14 8 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/VTV.png") 8 14 fill stretch;
}
.nany div.VNT {
  border-width: 8px 14px;
  border-style: solid;
  padding: 0px 3px;
  margin: 2px 1px 0px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/VNT.png") 8 14 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/VNT.png") 8 14 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/VNT.png") 8 14 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/VNT.png") 8 14 fill stretch;
}
.nany div.VTT {
  border-width: 8px 14px;
  border-style: solid;
  padding: 0px 3px;
  margin: 2px 1px 0px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/VTT.png") 8 14 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/VTT.png") 8 14 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/VTT.png") 8 14 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/VTT.png") 8 14 fill stretch;
}
.nany div.TNT {
  border-width: 8px 14px;
  border-style: solid;
  padding: 0px 3px;
  margin: 0px 1px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/TNT.png") 8 14 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/TNT.png") 8 14 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/TNT.png") 8 14 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/TNT.png") 8 14 fill stretch;
}
.nany div.TBNT {
  border-width: 10px 14px 8px;
  border-style: solid;
  padding: 0px 3px;
  margin: 0px 1px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/TBNT.png") 10 14 8 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/TBNT.png") 10 14 8 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/TBNT.png") 10 14 8 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/TBNT.png") 10 14 8 fill stretch;
}
.nany div.VT {
  border-width: 8px 14px 0px;
  border-style: solid;
  padding: 0px 3px;
  margin: 2px 1px 0px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/VT.png") 8 14 0 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/VT.png") 8 14 0 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/VT.png") 8 14 0 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/VT.png") 8 14 0 fill stretch;
}
.nany div.T {
  border-width: 0px 14px;
  border-style: solid;
  padding: 0px 3px;
  margin: 0px 1px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/T.png") 0 14 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/T.png") 0 14 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/T.png") 0 14 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/T.png") 0 14 fill stretch;
}
.nany div.TV {
  border-width: 0px 14px 8px;
  border-style: solid;
  padding: 0px 3px;
  margin: 0px 1px 2px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/TV.png") 0 14 8 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/TV.png") 0 14 8 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/TV.png") 0 14 0 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/TV.png") 0 14 8 fill stretch;
}
.nany div.TTV {
  border-width: 10px 14px 8px;
  border-style: solid;
  padding: 0px 3px;
  margin: 0px 1px 2px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/TTV.png") 10 14 8 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/TTV.png") 10 14 8 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/TTV.png") 10 14 8 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/TTV.png") 10 14 8 fill stretch;
}
.nany div.coul { background-position: -32px 0;}
