body {
    font-family: 'Lato', sans-serif;
    /*font-family: Verdana, Arial;*/
    font-size: 16px;
    line-height: 1.4em;
    padding: 0 20px;
    margin: 0;
}

h2 {
    margin: 2em 0 1em;
}

p {
    margin: 1em 0;
}

ol, ul {
    margin: -1em 0 1em;
}

ol {
    list-style: decimal outside;
    padding-left: 1.2em;
}

a {
    color: #666;
    text-decoration: underline;
}

a:hover {
    color: #33C;
}

.logo {
    display: inline-block;
    vertical-align: bottom;
}

.buttons {
    margin: 2em 0;
}

/* Bookmarklet */
a.nany-bookmarklet {
    margin-right: 5px;
}

a.nany-bookmarklet.hidden {
    display: none;
}

/* Formules */
.formules {
    border-collapse: collapse;
    margin: 0 auto;
}

.formules th {
    font-weight: bold;
}

.formules td,
.formules th {
    border: 1px solid #DDD;
    padding: 5px;
    vertical-align: middle;
}

.formules .objet {
    min-width: 60px;
}

.formules .objet .quantite {
    display: inline-block;
    vertical-align: middle;
}

.formules .objet .image {
    vertical-align: middle;
}
