html, body {
    padding: 0;
    margin: 0;
}

.jslint-report {
    margin: 0 10px;
    overflow: auto;
}

.jslint-report h1 {
    margin: 20px 0 10px;
}

.jslint-report address {
    float: right;
}

.jslint-report samp {
    display: block;
    padding: 10px;
    background: #CCC;
    margin-bottom: 10px;
}