.container {
    font-family: Verdana, Arial;
    font-size: 11px;
    color: #444;
    background: transparent;
    text-align: left;
}

.title {
    font-size: 1.25em;
    font-weight: bold;
}

.content :first-child {
    margin-top: 0;
}

.content :last-child {
    margin-bottom: 0;
}
