.dashboard {
    font-family: Verdana, Arial;
    font-size: 11px;
    color: #444;
    background: transparent;
    text-align: left;
}

.dashboardTitle {
    font-size: 1.25em;
    font-weight: bold;
}

.dashboardContent {
}
