.formules {
    border-collapse: collapse;
    margin: 0 auto;
}

.formules th {
    font-weight: bold;
}

.formules td,
.formules th {
    border: 1px solid #DDD;
    padding: 5px;
    vertical-align: middle;
}
