/* Nany Application CSS */
.nany {
    font-size: 8pt;
    font-family: Verdana, Arial;
    text-align: left;
    box-sizing: border-box;
}

.nany *,
.nany *:before,
.nany *:after {
  box-sizing: inherit;
}

.nany ul {
    padding: 0;
    list-style: disc inside;
}

.nany a {
    color: #BB6600;
    text-decoration: none;
}

.nany a:hover {
    text-decoration: underline;
}

.nany input,
.nany button {
    width: 100%;
}

.nany button::-moz-focus-inner,
.nany input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.nany .title {
    font-size: 1.25em;
    font-weight: bold;
}

.nany.dashboard .title {
    color: #FFF;
 }

.nany.popin {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    font-weight: normal;
}

.nany.popin .popin-button {
    color: #FFF;
    background: #333;
    padding: 2px 5px;
    border: 1px solid #222;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
}

.nany.popin:hover .popin-button,
.nany.popin .popin-button:focus {
    background: #606;
    outline: 0;
}

.nany.popin .popin-button,
.nany.popin .popin-box {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.nany.popin .popin-box {
    display: none;
    position: absolute;
    z-index: 1;
    top: calc(100% + 10px);
    left: -15px;
    padding: 10px;
    background: #333;
    color: #FFF;
    -moz-box-shadow: 2px 2px 5px 0px #333;
    -webkit-box-shadow: 2px 2px 5px 0px #333;
    -o-box-shadow: 2px 2px 5px 0px #333;
    box-shadow: 2px 2px 5px 0px #333;
    white-space: nowrap;
}

.nany.popin .popin-box:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 15px;
    width: 0;
    border: 10px solid transparent;
    border-top: 0;
    border-bottom-color: #333;
}

.nany.popin:hover .popin-box,
.nany.popin .popin-button:focus + .popin-box {
    display: inherit;
}