/* Nany Bookmarklet */
a.nany-bookmarklet {
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    color: #FFFFFF;
    border: 1px solid #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #555555;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#000000));
    background-image: -webkit-linear-gradient(top, #555555, #000000);
    background-image: -moz-linear-gradient(top, #555555, #000000);
    background-image: -ms-linear-gradient(top, #555555, #000000);
    background-image: -o-linear-gradient(top, #555555, #000000);
    background-image: linear-gradient(to bottom, #555555, #000000);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#555555, endColorstr=#000000);
    -webkit-box-shadow: #999 2px 2px 2px;
    -moz-box-shadow: #999 2px 2px 2px;
    box-shadow: #999 2px 2px 2px;
}

a.nany-bookmarklet:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #333333;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
    background-image: -webkit-linear-gradient(top, #333333, #111111);
    background-image: -moz-linear-gradient(top, #333333, #111111);
    background-image: -ms-linear-gradient(top, #333333, #111111);
    background-image: -o-linear-gradient(top, #333333, #111111);
    background-image: linear-gradient(to bottom, #333333, #111111);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#333333, endColorstr=#111111);
}
