/* Nany contours 
 * 0 : Jaune/marron (Page d'accueil)
 * 1 : Bleu (Braves)
 * 2 : Rouge (Sadiques)
 * 3 : Vert (Rampants)
 * 4 : Orange (Halloween)
 * 5 : Rose (Pacific Nainwak ?)
 * 6 : Vert foncé (Saint-Patrick ?)
 * 7 : Violet (Mutants)
 * 8 : Noir
 */
.nany div.VTV {
  border-width: 8px 14px;
  border-style: solid;
  padding: 0px 3px;
  margin: 2px 1px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/VTV.png") 8 14 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/VTV.png") 8 14 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/VTV.png") 8 14 8 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/VTV.png") 8 14 fill stretch;
}

.nany div.VNT {
  border-width: 8px 14px;
  border-style: solid;
  padding: 0px 3px;
  margin: 2px 1px 0px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/VNT.png") 8 14 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/VNT.png") 8 14 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/VNT.png") 8 14 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/VNT.png") 8 14 fill stretch;
}

.nany div.VTT {
  border-width: 8px 14px;
  border-style: solid;
  padding: 0px 3px;
  margin: 2px 1px 0px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/VTT.png") 8 14 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/VTT.png") 8 14 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/VTT.png") 8 14 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/VTT.png") 8 14 fill stretch;
}

.nany div.TNT {
  border-width: 8px 14px;
  border-style: solid;
  padding: 0px 3px;
  margin: 0px 1px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/TNT.png") 8 14 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/TNT.png") 8 14 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/TNT.png") 8 14 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/TNT.png") 8 14 fill stretch;
}

.nany div.TBNT {
  border-width: 10px 14px 8px;
  border-style: solid;
  padding: 0px 3px;
  margin: 0px 1px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/TBNT.png") 10 14 8 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/TBNT.png") 10 14 8 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/TBNT.png") 10 14 8 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/TBNT.png") 10 14 8 fill stretch;
}

.nany div.VT {
  border-width: 8px 14px 0px;
  border-style: solid;
  padding: 0px 3px;
  margin: 2px 1px 0px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/VT.png") 8 14 0 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/VT.png") 8 14 0 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/VT.png") 8 14 0 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/VT.png") 8 14 0 fill stretch;
}

.nany div.T {
  border-width: 0px 14px;
  border-style: solid;
  padding: 0px 3px;
  margin: 0px 1px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/T.png") 0 14 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/T.png") 0 14 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/T.png") 0 14 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/T.png") 0 14 fill stretch;
}

.nany div.TV {
  border-width: 0px 14px 8px;
  border-style: solid;
  padding: 0px 3px;
  margin: 0px 1px 2px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/TV.png") 0 14 8 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/TV.png") 0 14 8 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/TV.png") 0 14 0 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/TV.png") 0 14 8 fill stretch;
}

.nany div.TTV {
  border-width: 10px 14px 8px;
  border-style: solid;
  padding: 0px 3px;
  margin: 0px 1px 2px;
  -moz-border-image: url("//www.nainwak.com/images/interface/contour/7/TTV.png") 10 14 8 stretch;
  -webkit-border-image: url("//www.nainwak.com/images/interface/contour/7/TTV.png") 10 14 8 stretch;
  -o-border-image: url("//www.nainwak.com/images/interface/contour/7/TTV.png") 10 14 8 stretch;
  border-image: url("//www.nainwak.com/images/interface/contour/7/TTV.png") 10 14 8 fill stretch;
}
