/* Nany Dashboard */
.nany {
    font-size: 8.0pt;
    font-family: Verdana, Arial;
    text-align: left;
    box-sizing: border-box;
}

.nany *,
.nany *:before,
.nany *:after {
  box-sizing: inherit;
}

.nany a {
    color: #BB6600;
    text-decoration: none;
}

.nany a:hover {
    text-decoration: underline;
}

.nany .title {
    font-size: 1.25em;
    font-weight: bold;
    color: #FFF;
}

.nany input,
.nany button {
    width: 100%;
}