/* Default style */
.default {
    box-sizing: border-box;
}

.default *,
.default *:before,
.default *:after {
    box-sizing: inherit;
}

.default button::-moz-focus-inner,
.default input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.hidden {
    display: none;
}
