/* Base style */
.nany {
    box-sizing: border-box;
}

.nany *,
.nany *:before,
.nany *:after {
    box-sizing: inherit;
}

.nany button::-moz-focus-inner,
.nany input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.hidden {
    display: none;
}
