.dashboard {
    box-sizing: border-box;
    font-family: Verdana, Arial;
    font-size: 11px;
    color: #444;
    background: transparent;
    text-align: left;
}

.dashboard *,
.dashboard *:before,
.dashboard *:after {
    box-sizing: inherit;
}

.dashboardTitle {
    font-size: 1.25em;
    font-weight: bold;
}

.dashboardContent p {
    text-align: justify;
}

.dashboardContent :first-child {
    margin-top: 0;
}

.dashboardContent :last-child {
    margin-bottom: 0;
}
