/* Default theme */
.default {
    box-sizing: border-box;
}

.default *,
.default *:before,
.default *:after {
    box-sizing: inherit;
}

.default button::-moz-focus-inner,
.default input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.default button {
    padding: 0.25em 0.5em;
    border: 1px solid #000;
    border-radius: 5px;
    color: #FFF;
    background: #424242;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
}

.default button:hover {
    background: #680068;
}

.default button:focus {
    outline: 0;
}
