.box {
    display: block;
    color: #333;
    background: rgba(192, 192, 192, 0.5);
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 5px;

    /* TODO: remove the following rules from here */
    float: right;
    margin: 5px 0;
}
