.button {
    padding: 0.25em 0.5em;
    border: 1px solid #000;
    border-radius: 5px;
    color: #FFF;
    background: #424242;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
}

.button:hover {
    background: #680068;
}

.button:focus {
    outline: 0;
}
