.button {
    color: #FFF;
    background: #680068;
    padding: 0.25em 0.5em;
    border: 1px solid #000;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    box-shadow: 0px 0px 5px 0px #000;
}

.button:focus {
    outline: 0;
}
