.tooltip {
    position: relative;
    display: inline-block;
    float: right;
    font-weight: normal;
}

.tooltipContent {
    border-radius: 5px;
}

.tooltipContent {
    display: none;
    position: absolute;
    z-index: 1;
    top: -0.75em;
    right: calc(100% + 10px);
    padding: 10px;
    background: #333;
    color: #FFF;
    box-shadow: 2px 2px 5px 0px #333;
    white-space: nowrap;
}

.tooltipContent:before {
    content: "";
    position: absolute;
    top: 0.75em;
    right: -10px;
    width: 0;
    border: 10px solid transparent;
    border-right: 0;
    border-left-color: #333;
}

.tooltip:hover > .tooltipContent,
:focus + .tooltipContent {
    display: inherit;
}
